header{
    background-color: aqua;
}
article{
    background-color: beige;
}
nav{
    background-color: red;
}
footer{
    background-color: blue;
}
body{
    margin-right:  15%;
    margin-left: 15%;
}