*{
    padding: 0%;
    margin: 0%;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;

}
nav ul li{
    padding: 0 10px;
    display: inline-block;
    line-height: 80px;
}
li.btn a{
    color: white;
    text-decoration: none;

}
nav.barre_navigation{
    background-color: rgb(33, 119, 210);
    padding: 0%;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 80px;
    opacity: 90%;

}
li.btn:hover{
    transition: 1s;
    background-color: rgb(37, 94, 155);
    text-decoration: wavy;
    font-size: 120%;
}
nav ul{
    float: right;
    margin-right: 1%;
}
.back {
    background: url(buildings-1839726_1920.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh);
}
section{
    width: 80%;
    color: white;
    margin:   0 10%;
}
.section1 article, .section2 article, article.Contact{
    border-width: 5px;
    border-style: double;
    border-color: black;
    background-color: rgb(37, 94, 155);
    opacity: 90%;
    border-radius: 15px;
    font-size: 120%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#RT, #Plus_tard, #Muscu, #frequence {
    width: 45%;
    display: inline-block;
    margin: 1.75%;
    padding: 2%;

}
#Presentation, #Passion{
    margin-top: 2%;
    text-align: center;
    text-decoration: underline;
}
#Experience{
    margin: 1%;
    padding: 1%;
}
body{
    background: linear-gradient(90deg,rgb(1, 17, 33),rgb(1, 40, 82),rgb(20, 93, 212))
}
.section2 article{
    margin: 1%;
    padding: 1%;
}
footer{
    text-align: center;
    color: white;
    margin-top: 50px;
    font-size: 80%;
    margin-bottom: 100px;
}

article.Contact{
    margin-top: 50px;
    width: 50%;
    margin-left: 25%;
    font-size: 200%;
}
article.Contact h2{
    text-align: center;
    text-decoration: underline;
    
}
article.Contact li{
    margin-left: 30px;
    color: black;
}
article.Contact li a{
    color: white;
}
.Titre_Acceuil{
    font-size: 200%;
    color: white;
    text-align: center;
    padding: 19%;
    margin-bottom: 1%;

}
.Titre_Acceuil:hover{

    font-size: 300%;
    transition: 3s;
}
.footer_Acceuil{
    margin-top: 25%;
}
#Qui_je_suis h2, #Mon_Parcours h2, #RT h2, #Plus_tard h2, #Experience h2{

    font-size: 200%;
    margin-bottom: 2%;
    
}
article p{
    text-align: justify;
}
#Qui_je_suis,#Muscu ,#frequence ,#programme, #res , #Mon_Parcours ,#RT, #Plus_tard, #Experience{
    text-align: center;
    width: 70%;
    margin-left: 15%;
    padding: 2%;
    margin-top: 1.2%;
}

#Mon_Parcours img{
    height: auto;
    width: 20%;
    margin-left: 2%;
    position: absolute; 
    left: 10px;
}

#Mon_Parcours {
    position: relative;
}

#Mon_Parcours p{
    margin-left: 24%;

}
article:hover{
    border-color: white;
    transition: 1S;

}
#Plus_tard{
    background-image: url(cyber.jpg);
    opacity: 100%;
}
#Experience{
    background-color: rgb(1, 40, 82);
}
#Muscu ,#frequence ,#programme{
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}
.discord img{
    width: 5%;
    height: auto;
}
.uha img{
    width: 15%;
    height: auto;
}
.Contact:hover{
    transition: 3S;
    font-size: 220%;

}
.Contact_footer{
    margin-top: 30%;
}
#res{
    margin-top: 3%;
    background: linear-gradient(90deg,rgb(1, 17, 33),rgb(1, 40, 82),rgb(20, 93, 212))
}